/* text color */
@default-background: #101010;
@default-foreground: #eeeeee;

@select-foreground: green;
@select-background: @default-background;

@warning-foreground: #eeee10;
@warning-background: @default-background;

@error-foreground: #ee1010;
@error-background: @default-background;

/* layout */
@layout-line-color: green;

/* each componet color */
@message-panel-background: @default-background;
@message-panel-foreground: @default-foreground;
